In [2]:
import pandas as pd

In [5]:
data_all = pd.read_csv('listings.csv',index_col=['id'])
data = pd.read_csv('listings_cleaned_with_counts.csv', index_col = ['id'])

cols = ['latitude','longitude']
data_all_temp = data_all.loc[data.index]
cat_cols = data_all_temp[cols]
data = pd.concat([data, cat_cols], axis=1)

In [6]:
data

,accommodates,bathrooms,price,minimum_nights,maximum_nights,availability_30,number_of_reviews,number_of_reviews_ltm,restaurants,bars,cafes,universities,cta,time_to_cta_minutes,latitude,longitude
id,,,,,,,,,,,,,,,,
1947,2,1.0,59.0,14,60,0,4,2,161.0,50.0,56.0,2.0,3.0,4.66,41.902460,-87.63405
2384,1,1.0,55.0,2,90,22,178,30,19.0,3.0,10.0,3.0,0.0,27.36,41.787900,-87.58780
4505,7,1.0,117.0,2,60,0,394,27,7.0,2.0,1.0,0.0,2.0,8.86,41.854950,-87.69696
7126,2,1.0,80.0,2,60,29,384,48,131.0,44.0,33.0,0.0,1.0,14.01,41.902890,-87.68182
9811,4,1.0,150.0,4,180,4,49,16,84.0,40.0,20.0,1.0,2.0,11.24,41.917690,-87.63788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43239736,2,1.0,65.0,1,1125,14,0,0,40.0,6.0,10.0,5.0,0.0,29.50,41.799870,-87.59402
43249502,15,3.0,200.0,1,1125,28,0,0,47.0,26.0,14.0,0.0,1.0,19.75,41.891024,-87.67846
43250054,4,1.0,63.0,1,1125,24,0,0,64.0,20.0,20.0,0.0,4.0,12.06,41.976380,-87.66719
43254537,4,1.5,75.0,3,30,26,0,0,55.0,46.0,15.0,0.0,3.0,4.46,41.952581,-87.65672
43255785,3,1.0,100.0,32,45,30,0,0,303.0,91.0,109.0,5.0,16.0,2.61,41.883560,-87.63308